/*style.css*/

@charset "utd-8";

@font-face{
	font-family: "pixel";
	src: url("../font/pixel.ttf");
}

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: "pixel";
}

body{
	background-color: #6B8CFE;
}

video{
	position: absolute;
	top: -100%;
	left: 0;
}

canvas{
	-webkit-box-shadow: 0px 5px 15px #666;
	        box-shadow: 0px 5px 15px #666;
	z-index: 0;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 900;
	-webkit-transform: translate(-50%, -50%) rotateY(180deg);
	   -moz-transform: translate(-50%, -50%) rotateY(180deg);
	    -ms-transform: translate(-50%, -50%) rotateY(180deg);
	     -o-transform: translate(-50%, -50%) rotateY(180deg);
	        transform: translate(-50%, -50%) rotateY(180deg);
}

#world{
	z-index: 999;
	width: 400px;
	height: 300px;
	display: block;
	overflow: hidden;
	position: fixed;
	top: 43.8%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

#world > *{
	position: absolute;
	top: 0;
	left: 0;
}

#block{
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("../img/block.svg");
	background-size: 18% 18%;
	top: 0;
	left: 0;
	z-index: 20000;
}

#field{
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 2000000;
	width: 100%;
	height: 10%;
	background-image: url("../jimen.svg");
	background-repeat: repeat-x;
	background-size: 6.3%;
}

#num{
	color: #FFF;
	text-shadow: 2px 2px #000,3px 3px #000;
	font-size: 35px;
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 55px;
	padding-right: 15px;
	text-align: right;
	letter-space: 0.5em;
}

.coin{
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("../img/coin.svg");
	background-size: 18% 18%;
	top: 0;
	left: 0;
	z-index: 0;
	-webkit-animation-name: coin;
	   -moz-animation-name: coin;
	    -ms-animation-name: coin;
	     -o-animation-name: coin;
	        animation-name: coin;
	-webkit-animation-duration: .5s;
	   -moz-animation-duration: .5s;
	    -ms-animation-duration: .5s;
	     -o-animation-duration: .5s;
	        animation-duration: .5s;
	z-index: 999999;
	z-index: 11000;
}

@-webkit-keyframes coin {
	0% { top : 0%}
	16% { top : -30%}
	32% { top : 0%}
	48% { top : -20%}
	64% { top : 0%}
	80% { top : -10%}
	96% { top : 0%}
}
@-moz-keyframes coin {
	0% { top : 0%}
	16% { top : -30%}
	32% { top : 0%}
	48% { top : -20%}
	64% { top : 0%}
	80% { top : -10%}
	96% { top : 0%}
}
@-o-keyframes coin {
	0% { top : 0%}
	16% { top : -30%}
	32% { top : 0%}
	48% { top : -20%}
	64% { top : 0%}
	80% { top : -10%}
	96% { top : 0%}
}
@-ms-keyframes coin {
	0% { top : 0%}
	16% { top : -30%}
	32% { top : 0%}
	48% { top : -20%}
	64% { top : 0%}
	80% { top : -10%}
	96% { top : 0%}
}

.shake{
	-webkit-animation-name: shake;
	   -moz-animation-name: shake;
	    -ms-animation-name: shake;
	     -o-animation-name: shake;
	        animation-name: coin;
	-webkit-animation-duration: .1s;
	   -moz-animation-duration: .1s;
	    -ms-animation-duration: .1s;
	     -o-animation-duration: .1s;
	        animation-duration: .1s;
}

@-webkit-keyframes shake {
	0% { top: 0%;}
	100% { top: -1%;}
}
@-moz-keyframes shake {
	0% { top: 0%;}
	100% { top: -1%;}
}
@-o-keyframes shake {
	0% { top: 0%;}
	100% { top: -1%;}
}
@-ms-keyframes shake {
	0% { top: 0%;}
	100% { top: -1%;}
}

.images{
	z-index: -1;
}

.images img{
	display: inline-block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 10px;
	width: 25%;
	height: auto;
	opacity: 0.5;
	cursor: pointer;
}

.images img:hover{
	opacity: 1.0;
}
